<h1>Some notes for this technical test:</h1>
<ul>
  <li>Please open your DevTools to view the logs of each of the executed functions.</li>
  <li>To run the tests: ng test</li>
  <li>There was some ambiguity in the instructions around getting the total, so I got the total for both cost and quantity and logged them</li>
  <li>Instances of the invoice class was being created without incrementing the invoice number, so I created the invoiceNum variable to increment the invoice number each time an invoice was instantiated.</li>
</ul>
